@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
/* reset  */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
main {
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);
  --white: #ffffff;
}

body {
  margin: 0;
  line-height: 1;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--dark-blue);
  background-color: var(--dark-cyan);
  background-image: url(/images/bg-pattern-top.svg),
    url(/images/bg-pattern-bottom.svg);
  background-position: top -50vh right 50vw, top 50vh left 50vw;
  background-repeat: no-repeat, no-repeat;
}

#bg-pattern-top, #bg-pattern-bottom {
  overflow-x: hidden;
  position: absolute;
  object-fit: contain;
  right: 40%;
  bottom: 40%;
  z-index: -1;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
}

article {
  z-index: 1;
  margin: 0 auto;
  max-width: 90%;
  overflow: hidden;
  border-radius: 10%;
  background-color: var(--white);
}

article p {
  margin: 0;
  font-size: 18px;
}

article section {
  display: flex;
  padding-top: 40px;
  margin-bottom: 25px;
}

#profile-image-wrapper {
  position: relative;
}

#profile-background {
  height: 140px;
  width: 350px;
  margin-bottom: 50px;
  background-color: var(--dark-cyan);
}

#image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  display: block;
  margin: auto;
  border: 5px solid var(--white);
  border-radius: 50%;
}

#profile-details {
  flex-direction: column;
  align-items: center;
  color: var(--grayish-blue);
}

#profile-name {
  color: var(--dark-blue);
  font-weight: 700;
}

#profile-location {
  padding-top: 10px;
  font-size: 0.8rem;
}
#profile-details span {
  color: var(--grayish-blue);
  font-weight: 400;
}

#profile-social {
  justify-content: space-evenly;
  border-top: 2px solid hsl(227deg 10% 46% / 59%);
}

#profile-social p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-blue);
  font-weight: 700;
}

#profile-social span {
  padding-top: 10px;
  color: var(--grayish-blue);
  font-size: 0.7rem;
  font-weight: 400;
}

.attribution {
  position: absolute;
  bottom: 0;
  margin: 0 0 5px 5px;
  font-size: 0.5rem;
}
